.content-search {
    background-color: #063048;
    min-height: 100vh;
    color:white;
}

.header-search {
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
    margin:16px;
}

.welcome > .title {
    font-weight: lighter;
    margin-bottom: 0px;
} 

.welcome > .sub-title {
    font-weight: lighter;
    margin-top: 0px;
} 

.search {
    width: 80vw;
    height: 80px;
    margin: auto;
    padding: 16px;
    background-color:  rgb(96 105 119 / 60%);
    display: flex;
}

.search > div {
    margin: 3px;
}

/* Location Selection Input styles */
.search > .where-from-container {
    width: 30%;
    position: relative;
    display: flex;
    background-color: #fff;
    box-shadow: 0 5px 5px rgb(0 0 0 / 10%) inset;
    border: 1px solid #ccc;
}

.search > .to-where-container {
    width: 30%;
    position: relative;
    display: flex;
    background-color: #fff;
    box-shadow: 0 5px 5px rgb(0 0 0 / 10%) inset;
    border: 1px solid #ccc;
}

.icon-wrapper {
    flex: 2;
    text-align: center;
    padding: 24px 0px;
}

.icon-wrapper > i {
    color:black;
}

.port-wrapper {
    flex: 8;
    position: relative;
    padding: 24px 0;
}

.port-wrapper > input {
    width: 100%;
    border: none;
    padding: 0px;
    font-size: 22px;
    font-weight: bold;
}

/* Date İnput styles */
.date-container {
    width: 15%;
    background-color: black;
    display: flex;
}

.date-wrapper {
    flex: 5;
    text-align: center;
    padding: 24px 0px;
}

.date-wrapper > .date-wrapper-placeholder{
    color: whitesmoke;
    font-size: 22px;
    font-weight: bold;
}

.date-icon-wrapper {
    flex: 4;
    text-align: center;
    padding: 12px 0px;
}

.date-icon-wrapper > i {
    color: rgba(216, 221, 228);
}


/* Cabin ve traveller selection inputs styles*/
.cabin-traveller-container {
    width: 15%;
    background-color: black;
    display: flex;
    position: relative;
    cursor: pointer;
}

.cabin-traveller-icon-wrapper {
    flex:1;
    text-align: center;
    padding-top: 30px;
}

.cabin-traveller-icon-wrapper > i {
    color: rgba(216, 221, 228);
}

.traveller-count-wrapper {
    position: absolute;
    right: 0px;
    padding:5px;
}

/* Submit button styles */
.submit-container {
    width: 10%;
    background-color: #E81932;
    padding: 20px 0px;
    cursor: pointer;
}

.submit-container:hover {
    background-color: #ff3545!important;
}

.submit-container > i {
    color: rgba(216, 221, 228);
}

/* Cabin and traveller contaniner box */
.cabin-and-traveller-selection {
    width: 350px;
    margin: auto;
    background-color: white;
    color:black;
    text-align: left;
    padding: 8px;
}

.cabin-and-traveller-selection > .title {
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 20px;;
}

.cabin-selection {
    display: flex;
    justify-content: space-around;
    padding:16px 0px;
}

.cabin-selection > span > label{
    cursor: pointer;
}

.traveller-selection {
    display: flex;
    justify-content: space-between;
    padding-top:16px;
}

.traveller-selection > span > .title {
    font-weight: bold;
    font-size: 20px;;
}
.count-button {
    margin: 4px 8px;
    border: none;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}