.sub-category {
    flex:1;
    margin: 8px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.sub-category > .sub-category-header {
    height: 30px;
    padding:8px;
    display:flex;
    justify-content: space-between;
}

.sub-category > .rights {
    height: 150px;
    background-color: white;
    border:1px solid #d6d6d6;
}

.sub-category > .btn-choose-flight {
    width: 100%;
    padding: 8px;
    color: white;
    border: none;
    background-color: #E81932;
    cursor: pointer;
}

.right-item {
    border-bottom:1px solid #d6d6d6;
    padding: 8px;
    font-size: 12px;
}