.row {
    display: flex;
    margin:8px;
}

.flight {
    flex:3;
    margin:4px;
    padding: 4px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.05);
}

.economy {
    flex: 2;
    margin:4px;
    padding: 4px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.05);
}

.business {
    flex: 2;
    margin:4px;
    padding: 4px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.05);
}