.main-completion {
    width: 60vw;
    margin: auto;
    text-align: left;
    padding: 8px;
}

.total {
    font-size: 25px;
    display: flex;
    justify-content: space-between;
}

.total > .title {
    font-weight: lighter;
}

.total > .amount {
    font-weight: bold;
    color:darkblue;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }